[mysql]
host=127.0.0.1
user=username
password=password
port=3306

[mysqldump]
host=127.0.0.1
user=username
password=password
port=3306

# [client]
# host=127.0.0.1
# user=username
# password=password
# port=3306
